/* Making my tagline and logos responsize */
@media only screen and (max-width: 1113px) {
    img.c21-logo {
        height: 38.5px; 
        width: 143.36px;
    }
    
    img.lennar-logo {
        height: 38.5px;
        width: 168.56px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 790px) {
    h1.headline {
        font-size: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 120px;
    }
}

@media only screen and (max-width: 767px) {
    div.tagline {
        margin-top: 262px;
    }
}

@media only screen and (max-width: 575px) {
    div.tagline {
        margin-top: 294px;
    }
}

@media only screen and (max-width: 583px) {
    h1.headline {
        font-size: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        padding-right: 7px;
        height: 60px;
    }

    img.c21-logo {
        height: 19.25px; 
        width: 71.68px;
    }
    
    img.lennar-logo {
        height: 19.25px;
        width: 89.28px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 398px) {
    div.tagline {
        margin-top: 246px;
    }
}

@media only screen and (max-width: 334px) {
    div.tagline {
        margin-top: 198px;
    }
}

@media only screen and (max-width: 264px) {
    div.tagline {
        margin-top: 150px;
    }
}

/* Logos and headline */
#company-logos {
    height: 0px;
}

.c21-logo {
    background: rgba(37, 37, 38, 0.85);
    height: 80.8px; 
    width: 286.72px;
}

.lennar-logo {
    background: rgba(37, 37, 38, 0.85);
    height: 72.8px;
    width: 337.12px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.headline {
    background: rgba(190, 175, 135, 0.85);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 70px;
    height: 215px;
}

/* Randoms */
.img-fill {
    height: 225px;
    width: 100%;
    display: block;
}

.main-bg {
    background: #E6E7E8;
}

.jumbotron-header {
    background-image: url("../imgs/lennar-header.jpg");
    background-size: cover;
    height: 450px;
}

.tagline {
    margin-top: 310px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(37, 37, 38, 0.85);
}

/* Cards */
.card {
    background-color: #A19276;
}

.card-address {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 5px;
    font-weight: bold;
    color: #A19276; 
}

.card-price {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 10px;
    color: white;
}

.card-header {
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color: #252526;
}

/* Anchor tag */
a {
    color: #A19276;
}

a:hover {
    text-decoration: none;
}

/* Carousel */
.carousel-info {
    background-color: #252526;
}

.slick-prev {
    left: 5px;
    bottom: 15px;
    z-index: 1;
}

.slick-next {
    right: 5px;
    z-index: 1;
}

/* C21 Fonts and Colors */
.barlow {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.muli {
    font-family: 'Muli', sans-serif;
}

.gold-text {
    color: #A19276;
}

.gold-background {
    background-color: #A19276;
}

.grey-text {
    color: #252526;
}

.grey-background {
    background-color: #252526;
}