.img-fill {
    height: 225px;
    width: 100%;
    display: block;
    border-style: solid;
    border-color: #252526;
}

.card-address {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 5px;
    color: #A19276;
}

a:hover {
    text-decoration: none;
}