/* Cards */
.card {
    background-color: #A19276;
}

.card-address {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 5px;
    font-weight: bold;
    color: #A19276; 
}

.card-price {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 10px;
    color: white;
}

.card-body {
    background-color: #252526;
}

/* Carousel */
.slick-prev {
    left: 5px;
    bottom: 15px;
    z-index: 1;
}

.slick-next {
    right: 5px;
    z-index: 1;
}

/* Buttons */
.btn-expand {
    margin-top: 25px;
    background: #A19276;
    border-radius: 0;
    border-color: #A19276;
    color: white;
    font-size: 1.25em;
}

.btn-property {
    margin-top: 25px;
    background: #A19276;
    border-color: #A19276;
    color: black;
}

.btn-light:hover {
    background: #A19276;
}

/* Anchor tag */
a {
    color: #A19276;
}

a:hover {
    text-decoration: none;
    color: white;
}

/* Randoms */
.img-fill {
    height: 250px;
    width: 100%;
    display: block;
    background: #252526;
}

.layout-img {
    height: 250px;
    display: block;
    background: #252526;
    margin-left: auto;
    margin-right: auto;
}

.layout-header {
    display: block;
    width: 100%;
    text-align: center;
    background: #252526;
    color: #A19276;
    margin-bottom: 15px;
    border-radius: 5px;
}

.layout-header-content {
    font-family: 'Muli', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.jumbotron {
    border-radius: 0px;
}

.property-link {
    background: #A19276;
    border: 2px solid #A19276;
}

/* C21 Fonts and Colors */
.barlow {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.muli {
    font-family: 'Muli', sans-serif;
}

.gold-text {
    color: #A19276;
}

.gold-background {
    background-color: #A19276;
}

.grey-text {
    color: #252526;
}

.grey-background {
    background-color: #252526;
}