/* Media Breakpoints */
@media (max-width: 430px) {
    .card {
        width: 100%;
    }

    div.contact-text {
        font-size: 50%;
    }

    h2.contact-header {
        font-size: 300%;
    }

    h5.contact-header {
        font-size: 200%;
    }

    img.contact-photo {
        width: 90px !important;
        height: 100%;
    }
}

@media (max-width: 500px) {
    img.contact-photo {
        width: 120px;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .tagline {
        font-size: 9vw !important;
        white-space: normal;
    }

    .card {
        width: 80%;
    }
}

/* Cards */
.card {
    background-color: #A19276;
}

.card-address {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 5px;
    font-weight: bold;
    color: #A19276; 
}

.card-price {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 10px;
    color: white;
}

.card-body {
    background-color: #252526;
}

.contact-photo {
    width: 150px;
    height: 100%;
}

/* Carousel */
.slick-prev {
    left: 5px;
    bottom: 15px;
    z-index: 1;
}

.slick-next {
    right: 5px;
    z-index: 1;
}

/* Buttons */
.btn-expand {
    margin-top: 25px;
    background: #A19276;
    border-radius: 0;
    border-color: #A19276;
    color: white;
    font-size: 1.25em;
}

.btn-property {
    margin-top: 25px;
    background: #A19276;
    border-color: #A19276;
    color: black;
}

.btn-light:hover {
    background: #A19276;
}

/* Anchor tag */
a {
    color: #A19276;
}

a:hover {
    text-decoration: none;
    color: #E6E7E8;
}

/* Randoms */
.img-fill {
    height: 250px;
    width: 100%;
    display: block;
    background: #252526;
}

.layout-img {
    height: 250px;
    display: block;
    background: #252526;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    border-radius: 0px;
}

.jumbotron-header {
    background: url("../imgs/cover-photo.jpg") no-repeat;
    background-size: 100%;
    height: 450px;
}

.cover-photo {
    width: 100%;
}

.contact-area {
    background: #E6E7E8;
    border: 0px;
}

.property-link {
    background: #A19276;
    border: 2px solid #A19276;
}

.tagline {
    font-size: 4.2vw;
    letter-spacing: 0.2rem;
}

/* C21 Fonts and Colors */
.barlow {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.muli {
    font-family: 'Muli', sans-serif;
}

.gold-text {
    color: #A19276;
}

.gold-background {
    background-color: #A19276;
}

.grey-text {
    color: #252526;
}

.grey-background {
    background-color: #252526;
}

.light-grey-text {
    color: #E6E7E8;
}

.light-grey-background {
    background-color: #E6E7E8;
}